# Default Configure file of Traffic Signs Detection project
# CS 216 Final Project
# Yuan Cao, X0971392

[data_path]
IMAGE_PATH: images
RESULT_PATH: result
SVM_PATH: svm
POS_DIR: PositiveData
NEG_DIR: NegativeData
TEST_DIR: TestingData

[data_set]
DEFINATION: {'circle': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 16, 17, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 14], 'tri': [11, 13, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31], 'sqr': [12]}
# MUST keys in the DEFINATION
RUNNING_DATASET: circle

[train]
TEMPLATE_SCALE: 1
NEG_FEATURE_VECTOR_NUM: 1000

[hog]
orientations: 12
# pixels per cell 8 means (8 * 8)
ppc: 8
# cells per block 1 means, (1 * 1)
cpb: 1

[svm]
SAVING_FILE_NAME: circle_1000_r15_o12
LOAD_FILE_NAME: circle_1000_r15_o12
KERNEL: rbf
PROBABILITY: True

[test]
PYRAMID_LEVEL: 3
PYRAMID_SCALE: 0.7
SLIDING_WINDOW_STEP: 8
DETECTION_PROBABILITY_THRESHOLD: 0.98
OVERLAP_RATE: 0.6
WRONG_DETECTION_DIR: Wrongg

[reinforce]
REINFORCE_TIME = 15
